*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: white;
}

.banner{
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: left;
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}

.container{
  color: red;
  text-align: center;
}

#displayip{
  color: green;
}

.typebutton{
  color: red;
  padding: 10px 20px;
  border-radius: 50px;
  border-color: red;
}